<o-form service="employees" entity="employee" keys="employee_id" header-actions="R;I;U;D" show-header-navigation="no">
  <o-row>
    <o-column title-label="EMPLOYEE_PERSONAL_INFORMATION" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="name_surname" fxFlex="40" required="yes"></o-text-input>
      </o-row>
      <o-row>
      </o-row>
      <o-row>
        <o-email-input attr="email" fxFlex></o-email-input>
      </o-row>
      <o-row>
        <o-text-input attr="speciality" fxFlex></o-text-input>
      </o-row>
      <o-row>
        <o-text-input attr="function" fxFlex></o-text-input>
      </o-row>
      <o-row>
        <o-text-input attr="department" fxFlex></o-text-input>
      </o-row>
      <o-row>
        <o-text-input attr="telephone_number" fxFlex></o-text-input>
      </o-row>
      <o-row>
        <o-text-input attr="address" fxFlex></o-text-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>
